/***********************Header***********************/
header{
    display:flex;
    position: fixed;
    align-items: center;
    box-sizing:border-box;
    width: 100%;
    padding: 10px;
    top:0px;
    background-color: #EDEDED;
}

.Title-mobile{
    margin:auto;
    border-width: 2px;
    text-decoration: underline #373867;
    font-family: serif;
    font-size: 60px;
    color:#373867;
}

/***********************Sidebar***********************/
.sidebar{
    display:none;
}
/***********************Formulario********************/

.Formulario{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:140px
}

h1{
    font-family: serif;
    font-weight: bold;
    font-size: 36px;
    color:#373867;
}

.my-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 6px 6px 6px 6px;
    background-color: #EBEBF0;
    box-shadow: 10px 10px 10px  grey;
}

.my-form input{
    margin:20px;

    border-radius: 4px 4px 4px 4px;
    color:#373867;
}

input{
    height: 20px;
}



.checkbox{
    font-family: serif;
    font-weight: bold;
    color:#373867;
}



.forgot{
    display: flex;
    flex-direction: column;
    margin: 40px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    color:#373867;
}

.button{
    margin:10px;
    height: 40px;
    width: 140px;
    border-radius: 4px 4px 4px 4px;
    background-color: #F11A41;
    color:white;
}


/***********************BORRAR***/
.correct{
    display: flex;
    color: green;
}

.error{
    display: flex;
    color: red;
}

.hide{
    display: none;
}