/* Body-footer-containers*/
.body-container{
    float:right;
    margin-right:20px;
    width:1000px;
}
.footer-container{
    float:right;
    margin-right:20px;
    width:1000px;
}
/* Header */
.social-media-icon{
    text-align: right;
    margin: 20px;
}
header{
    border-bottom: solid;
    border-width: 2px;
    border-color: #373867;
    margin-bottom:10px;
}
/* Sidebar */
.sidebar{
    float:left;
    position:fixed;
    padding:10px;
    line-height:32px;
    width:20%;
    height:100%;
    top:0%;
    background-color: #AFAFC2;       
}
.btn-menu{
    color:#373867;
    position:fixed;
    left:19%;  
}
.p-sidebar{
    font-weight:bold;
    color:#373867;
}
/* Homepage */
.container-homepage{
    float:left;
    width:1000px;
    height: 600px;
}
h1{
    margin:auto;
    width:100%;
    font-family: serif;
    font-size: 60px;
    color:#373867;
}
.subtitle-homepage{
    margin:auto;
    width:100%;
    padding:20px;
    font-family: serif;
    font-size: 20px;
    color:#373867;   
}
.text-homepage{
    margin-top:auto;
    width:50%;
    padding:10px;
    font-family: serif;
    font-size: 20px;
    color:#373867;
}
.image-homepage{
    float:right;
    height: 400px;
    width:400px;
}
.btn-homepage{
    margin-top: 50px;
    width: 20%;
    padding:11px;
    background-color: white;
}
/* History-section */
.container-history{
    float:left;
    width:1000px;
    height: 600px;
}
.title-history{
    margin:left;
    font-family: serif;
    font-size: 60px;
    color:#373867;
}
.image-history-left{
    float:left;
}
.text-one-history{
    display: inline-block;
    padding-left:2%;
    width:45%;
    font-family: serif;
    font-size: 20px;
    color:#373867;
}
.image-history-right{
    float:right; 
}
.text-two-history{
    display: inline-block;
    width:50%;
    font-family: serif;
    font-size: 20px;
    color:#373867;
}
/* Funcionalities */
.container-funcionalities{
    display: inline-block;
    width:1000px;
    height:600px;
}
.title-funcionalities{
    margin:left;
    padding: 2%;
    font-family: serif;
    font-size: 60px;
    color:#373867;
}
/* Funcionalities - Recorf of worked hours*/
.subcontainer-one{
    display:inline-block;
    font-size: 14px;
    width:40%;
    color:#373867;
}
.subtitle-one{
    margin-left: 2%;
    font-size: 15px;
    color:#373867;
}
.image-one{
    float:left;
    width: 40px;
    height: 40px;
}
.text-one{
    float:left;
    width: 300px;
    height: 100px;
    margin:10px;
    font-size: 15px;
    color:#373867
}
/* Funcionalities - Reports*/
.subtitle-two{
    display: left;
    margin-left: 2%;
    font-size: 15px;
    color:#373867;
}
.image-two{
    float:left;
    margin-left: 38%;
    width: 40px;
    height: 40px;
}
.text-two{
    margin-left: 43.9%;
    height: 100px;
    width: 300px;
    font-size: 15px;
    color:#373867
}
/* Funcionalities - Resources-management*/
.subcontainer-three{
    display:inline-block;
    font-size: 14px;
    width:40%;
    color:#373867;
}
.subtitle-three{
    display: inline-block;
    margin-left: 2%;
    font-size: 15px;
    color:#373867;
}
.image-three{
    float:left;
    width: 40px;
    height: 40px;
}
.text-three{
    float:left;
    width: 300px;
    height: 100px;
    margin:10px;
    font-size: 15px;
    color:#373867
}
/* Funcionalities - Multiple-roles*/
.subtitle-four{
    display: inline-block;
    margin-left: 2%;
    font-size: 15px;
    color:#373867;
}
.text-four{
    margin-left: 43.9%;
    height: 100px;
    width: 300px;
    font-size: 15px;
    color:#373867
}
.image-four{
    float:left;
    margin-left: 38%;
    width: 40px;
    height: 40px;
}
