/* Header */
.social-media-icon{
        text-align: right;
        margin:1%;
}
.btn-menu{
        text-align: left;
}
header{
       border-bottom: solid;
       border-width: 1px;
       border-color: #373867;
       margin-bottom:10px;
}
/* Sidebar */
.sidebar{
        float:left;
        *position: fixed;
        padding:10px;
        line-height:30px;
        width:20%;
        height:100%;
        background-color: #373867;
}
a:visited {
        color:#575897;
}
/* HomePage */
h1{
        margin:auto;
        width:50%;
        padding:40px;
        font-family: serif;
        font-size: 60px;
        color:#373867;
}
.sub-title{
        margin:auto;
        width:50%;
        padding:20px;
        font-family: serif;
        font-size: 20px;
        color:#373867;
}
.text-homepage{
        margin:auto;
        width:50%;
        padding:10px;
        font-family: serif;
        font-size: 20px;
        color:#373867;
}
.imagen-home{
        float:right;
}
/* History section*/
.history{
        margin:auto;
        width:50%;
        padding:20px;
        font-family: serif;
        font-size: 60px;
        color:#373867;
}
.text-history{
        display: inline-block;
        width:43%;
        font-family: serif;
        font-size: 20px;
        color:#373867;
}
.imagen-history{
        float:right;
}
.text-history2{
        margin:auto;
        width:50%;
        padding:10px;
        font-family: serif;
        font-size: 20px;
        color:#373867;
}
/* Funcionalities*/
.funcionalities{
        margin:auto;
        width:50%;
        font-family: serif;
        font-size: 60px;
        color:#373867;
}
.block{
        margin: auto;
        width:36%;
}
/* Reasons*/
.reasons{
        margin:auto;
        width:50%;
        font-family: serif;
        font-size: 60px;
        color:#373867;
}
.block-one{
        margin: auto;
        width:36%;
}
.my-form{
        padding: 20px;
}
.my-form .form-group{
        padding-bottom: 15px;
}
.my-form label{
        display: block;
}
.my-form input[type="text"], my-form textarea{
        padding: 8px;
        width: 100%;
}
.my-form input[type="message"], my-form textarea{
        padding: 8px;
        width: 100%;
}   
        





