footer{
    text-align: center;
    background-color: #EDEDED;
    padding: 20px;
}

.copyright{
    display: flex;
    justify-content: center;
    margin:9px;
}

/*************************** Adaptación a Desktop ******************************************/
@media screen and (min-width: 1024px){
    footer{
        background-color: white;
        border-top: solid;
        border-width: 2px;
        border-color: #373867;
    }

    .copyright{
        margin-left: 20%;
    }

    .social-media-icon-footer{
        margin-left: 20%;
        padding: 2px;
    }
}
