.social-media-icon-footer{
    display: flex;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
    margin:9px;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #EDEDED;
}