header{
    display:flex;
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing:border-box;
    padding: 10px;
    background-color: #EDEDED;
}

.social-media-icon{
    text-align: right;
    margin: 20px;
    background-color: red;
    width: 80%;
}

.Title-mobile{
    margin:auto;
    text-decoration: underline #373867;
    border-width: 2px;
    font-family: serif;
    font-size: 60px;
    color:#373867;
}

@media screen and (min-width: 768px){
    .Title-mobile{
        display:none;
    }
}

@media screen and (max-width: 768px){
    .social-media-icon{
        display:none;
    }
}


