.container-homepage{
    display:flex;
    flex-wrap:wrap;
}

.homepage{
    width: 90%;
}

.image-homepage{
    width: 90%;
}

.body-container{
    margin-top:100px;
}

@media screen and (min-width: 768px){
    .body-container{
        margin-left:20%;
    }
}

