/* Correction to Mobile */
@media screen and (max-width: 768px){
    .container-homepage{
        display:flex;
        flex-wrap:wrap;
    }

    .homepage{
        width: 90%;
    }

    .image-homepage{
        width: 90%;
    }

    .body-container{
        margin-top:100px;
    }
}

/* Adaptación a Desktop */
@media screen and (min-width: 768px){
    .body-container{
        margin-left:21%;
    }
}

/* Adaptación-Header */
@media screen and (min-width: 768px){
    header{
        border-bottom: solid;
        border-width: 2px;
        border-color: #373867;
        background-color: white;
    }
}

/* Adaptación-Homepage */
@media screen and (min-width: 768px){
    .container-homepage{
        flex-direction: row-reverse;
        margin-right:12%;
        padding: 2%;
    }
    .image-homepage{
        width:400px;
        height: 400px;
    }
    .homepage{
        width:50%;
    }
    .body-container{
        margin-top:20px;
    }
    h1{
        font-size: 30px;
    }
}

/* Adaptación-History */
@media screen and (min-width: 768px){
    .image-history-left{
        width: 400px;
    }
    .image-history-right{
        width: 400px
    }
    .title-history{
        margin:60px;
        font-family: serif;
        font-weight: bold;
        font-size: 60px;
        color:#373867;
    }
    .subcontainer-history{
        display: flex;

    }
    .subcontainer-history-two{
        display: flex;
        flex-direction: row-reverse;

    }
    .container-history{
        display: flex;
        flex-direction: column;
    }
    .text-one-history{
        align-items: center;
        padding: 12px;
    }
    .text-two-history{
        align-items: center;
    }
}

/* Adaptación-More-Information */
@media screen and (min-width: 768px){
    .Title-list{
        font-size: 160%;
    }
    .More{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}

/* Adaptación-Button-End */
@media screen and (min-width: 768px){
    .buttom-page{
        display: flex;
        justify-content: center;
        margin:20px;
    }

}


/* Adaptación-footer */
@media screen and (min-width: 768px){
    footer{
        background-color: white;
        border-top: solid;
        border-width: 2px;
        border-color: #373867;
    }
    .copyright{
        margin-left: 20%;
    }
    .social-media-icon-footer{
        margin-left: 20%;
    }
}

/* Adaptación-Funionalities */
@media screen and (min-width: 768px){
    .title-funcionalities{
        font-size: 60px;
    }
    .container-funcionalities{
        display:flex;
        width: 1000px;
        height: 600px;
    }
    .image-one{
        width: 30%;
        height: 60%;
    }
    .record-report{
        display: flex;
        height: 40%;
        padding: 2%;
    }
    .resource-multiple{
        display: flex;
        height: 40%;
    }
}
/* Adaptación-Reasons */
@media screen and (min-width: 768px){
    .title-reasons{
        font-size: 60px;
    }
    .container-reasons{
        display:flex;
        width: 1000px;
        height: 600px;
    }
    .productivity-decision{
        display: flex;
        height: 40%;
        padding: 2%;
    }
    .work-leadership{
        display: flex;
        height: 40%;
    }
}
/* Adaptación-Formulario */
@media screen and (min-width: 768px){
    .Title-Formulario{
        font-size: 60px;
    }
    .container-form{
        display: flex;
        width: 92%;
    }
    .email{
        margin-left: 36%;
    }

}


